In [ ]:
import urbanpy as up
import pandas as pd
import geopandas as gpd
import contextily as cx
import matplotlib.pyplot as plt
from pandas_profiling import ProfileReport

In [ ]:
df = pd.read_excel(
    "/home/claudio/Downloads/Análisis_de_las_Ollas_Comunes_Lima_Metropolitana_-_all_versions_-_labels_-_2023-02-23-01-03-45.xlsx"
)

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
import locale

locale.setlocale(locale.LC_ALL, "es_ES.UTF-8")

In [ ]:
from datetime import datetime as dt

datetime_object = dt.strptime("16 septiembre 2021", "%d %B %Y")
datetime_object

In [ ]:
df.iloc[16, 1:10]

In [ ]:
c = (
    df[
        "¿Cuándo comenzó a funcionar la olla común? (colocar mes y año, ejemplo: enero 2020) "
    ]
    .str.lower()
    .replace(
        {"16 setiembre 2021": "16 septiembre 2021", "setiembre 2020": "septiembre 2020"}
    )
    .str.split(" ")
    .apply(lambda x: x[-2] + " " + x[-1] if len(x) > 1 else x[0])
)

In [ ]:
c.loc[13] = "enero 2020"

In [ ]:
c.loc[18] = "junio 2020"

In [ ]:
fechas = pd.to_datetime(c, format="%B %Y")

In [ ]:
ax = fechas.hist(xrot=50, bins=20)
ax.set_title("¿Cuándo comenzó a funcionar la olla común?")
ax.set_ylabel("Número de ollas")
plt.show()

In [ ]:
ax = (
    fechas.rename("fechas")
    .reset_index()
    .plot.scatter("fechas", "index", s=50, c="fechas", cmap="Viridis")
)

ax.set_ylabel("")
ax.set_yticks([])
ax.set_xlabel("Fecha de inicio")
ax.set_xticks(ax.get_xticks(), ax.get_xticklabels(), rotation=45, ha="right")
ax.set_title("¿Cuándo comenzó a funcionar la olla común?")

In [ ]:
regis_cols = df.columns[df.columns.str.startswith("La olla común está registrada en")]

In [ ]:
regis_cols

In [ ]:
title = {
    "La olla común está registrada en: (puede marcar más de una opción)": "¿Dónde está registrada la olla común?",
    "La olla común está registrada en: (puede marcar más de una opción)/Mancachay": "La olla común está registrada en Mancachay",
    "La olla común está registrada en: (puede marcar más de una opción)/RUOS - Municipio distrital": "La olla común está registrada en RUOS - Municipio distrital",
    "La olla común está registrada en: (puede marcar más de una opción)/Otro": "La olla común está registrada en Otra opción",
    "La olla común está registrada en: (puede marcar más de una opción)/No está registrada": "La olla común no está registrada",
}

In [ ]:
for col in regis_cols:
    ax = df[col].value_counts().plot.bar()
    ax.set_title(title[col])
    for p in ax.patches:
        ax.annotate(str(p.get_height()), (p.get_x() * 1.005, p.get_height() * 1.005))
    plt.show()

In [ ]:
socios_cols = [
    "En el momento de su conformación ¿Cuántos socios y socias conformaban la olla común (Padrón)? (coloque sólo el número, por ejemplo: 15)",
    "En la actualidad ¿Cuántos socios y socias conforman la olla común (Padrón)? (coloque sólo el número, por ejemplo: 15)",
    "En la actualidad ¿Cuántas mujeres son socias de la olla común? (coloque sólo el número, por ejemplo: 5)",
]

In [ ]:
df[socios_cols].describe().round(2).to_clipboard()

In [ ]:
df[
    "¿Cuánto cobran por ración? (coloque sólo el número y para los céntimos utilice un punto, por ejemplo: 1.5 o 2.0)"
].describe().to_clipboard()

In [ ]:
comidas_cols = [
    "¿Qué comidas ofrece la olla común? (puede marcar más de una opción)",
    "¿Qué comidas ofrece la olla común? (puede marcar más de una opción)/Desayuno",
    "¿Qué comidas ofrece la olla común? (puede marcar más de una opción)/Almuerzo",
    "¿Qué comidas ofrece la olla común? (puede marcar más de una opción)/Lonche",
    "¿Qué comidas ofrece la olla común? (puede marcar más de una opción)/Cena",
]

In [ ]:
titles = [
    "¿Qué comidas ofrece la olla común?",
    "La olla común ofrece desayuno",
    "La olla común ofrece almuerzo",
    "La olla común ofrece lonche",
    "La olla común cena",
]

In [ ]:
for i, col in enumerate(comidas_cols):
    ax = df[col].value_counts().plot.bar()
    ax.set_title(titles[i])
    for p in ax.patches:
        ax.annotate(str(p.get_height()), (p.get_x() * 1.005, p.get_height() * 1.005))
    plt.show()

In [ ]:
equip_cols = [
    "La olla común cuenta con: (marque todas las que correspondan)",
    "La olla común cuenta con: (marque todas las que correspondan)/Menajes (ollas, cubiertos, cuchillos, etc.)",
    "La olla común cuenta con: (marque todas las que correspondan)/Refrigeradora",
    "La olla común cuenta con: (marque todas las que correspondan)/Equipamientos (cocina, mesas, etc.)",
    "La olla común cuenta con: (marque todas las que correspondan)/Reservorios de agua",
]

In [ ]:
titles_equip = [
    "La olla común cuenta con:",
    "La olla común cuenta con Menajes",
    "La olla común cuenta con Refrigerador",
    "La olla común cuenta con Equipamientos",
    "La olla común cuenta con Reservorios de agua",
]

In [ ]:
df[
    [
        "La olla común cuenta con: (marque todas las que correspondan)/Menajes (ollas, cubiertos, cuchillos, etc.)",
        "La olla común cuenta con: (marque todas las que correspondan)/Refrigeradora",
        "La olla común cuenta con: (marque todas las que correspondan)/Equipamientos (cocina, mesas, etc.)",
        "La olla común cuenta con: (marque todas las que correspondan)/Reservorios de agua",
    ]
] = df[
    [
        "La olla común cuenta con: (marque todas las que correspondan)/Menajes (ollas, cubiertos, cuchillos, etc.)",
        "La olla común cuenta con: (marque todas las que correspondan)/Refrigeradora",
        "La olla común cuenta con: (marque todas las que correspondan)/Equipamientos (cocina, mesas, etc.)",
        "La olla común cuenta con: (marque todas las que correspondan)/Reservorios de agua",
    ]
].replace(
    {1: "Sí", 0: "No"}
)

In [ ]:
for i, col in enumerate(equip_cols):
    ax = df[col].value_counts().plot.bar()
    ax.set_title(titles_equip[i])
    for p in ax.patches:
        ax.annotate(str(p.get_height()), (p.get_x() * 1.005, p.get_height() * 1.005))
    plt.show()